body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
  }

  .btn {
    /*Dimensions*/
    height: 50px;
    width: 100px;

    /*Style*/
    border-radius: 3px;
    background-color: rgb(40, 40, 40);
    color: rgb(200, 200, 200);
    cursor: pointer;

    /*Transition*/
    transition: 0.5s;
  }

  .btn:hover {
    background-color: rgb(70, 70, 70);
  }

  .elm_ct {
    /*Flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }